<head>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/mediaenquiry.css">
</head>

<body>

<nav id="webpage-nav">
  <div id="logo">NHC</div>
    <ul id="nav-links">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Products</a></li>
      <li><a href="">Contact</a></li>
    </ul>
    <div id="auth-container">
    <p><a href="/login">Log In</a></p>
    <span>|</span>
    <p><a href="/signup">Sign Up</a></p>
  </div>
    <!-- <div class="socials">
    <a href="https://www.instagram.com/nhcbballacademy/" target="_blank"><img src="images/112-1124492_instagram-instagram-new-logo-png-white-clipart-3120341247.png" id="instagram-logo" alt="instagram" ></a>
    </div> -->
</nav>

<nav id="hamburger-nav">
  <div id="logo">NHC</div>
  <div id="hamburger-icon" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
    <div id="hamburger-links">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
  </div>
</nav> 

<script src="/JS/index.js"></script>
</body>
