<head>
  <link rel="stylesheet" href="/styles/dashboard.css">
</head>

<nav>
  <ul>
    <li><a href="/parents">Parents</a></li>
    <li><a href="/clients">Clients</a></li>
    <li><a href="/transactions">Transactions</a></li>
  </ul>
</nav>
