<%- include ("partials/header.ejs")%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NHC</title>
</head>
<body>
  
  <main>
    <h2>New Hoop City Bball Academy - Player Developmental Coach </h2>
    <p class="homepage-description">
      At New Hoop City Bball Academy, I am dedicated to transforming young athletes into confident, skilled basketball players. I offer personalized training programs for elementary, middle, and high school students, whether they're just starting or looking to refine advanced skills. Through private and group sessions, I focus on developing a strong foundation, enhancing performance, and fostering a love for the game in each player.
      </p>
</main>

<script src="/JS/index.js"></script>
</body>
</html>